    <marquee><h1>WELCOME FOR REGISTRATION</h1></marquee>
<h2>Please enter the Uuid to saw the details</h2>
 <!-- 
<%= form_for :child,:url =>{:action=>'search'} do |s| %>
<%= s.label  :uuid%>
<%= s.text_field :uuid%>
<%= s.submit 'search'%>
<% end %>
 -->
<tr><td>keyword</td>

<%= form_tag :controller=>'children',:action=>'search', :method => :get, :remote => true do |f| %>
<td>  <%= text_field_tag :uuid, params[:uuid] %> </td></tr>
<tr><td/><td>  <%= submit_tag "Search",:uuid=>nil %></td><td>

<% end %>
<tr><td>
<%= image_tag "imgres2.jpg"%>
<h2>If not registrard please click here</h2>
<h1><%= link_to "Registration", new_child_path%><h1>
<h3><%=link_to 'List' ,:controller=>'children',:action =>'index' %><h3>

