<h1>Listing children</h1>

<%= image_tag "i2.jpg" , :width => '255' ,:align => 'right'%>
 <div >
<%= form_tag :controller=>'children',:action=>'searchmarks', :method => :get do |f| %>
  Enter Percent<%= text_field_tag :per, params[:per] %>
  <%= submit_tag "Search",:per=>nil %>
<% end %>
   </div>
    <br/><br/>
<center>
<table border = 11 bgcolor=orange cellpadding="10" cellspacing="3">
  <tr>
        <th>Name</th>
        <th>D.O.B</th>
        <th>F_Name</th>
        <th>M_Name</th>
        <th>Class</th>
        <th>Address</th>
        <th>A_salary</th>
        <th>Pan_no</th>
        <th>Percentage</th>
        <th>Show</th>
        <th>Update</th>
        <th>Delete</th>

  </tr>
<% @child.each do |child| %>
  <tr>
    
    <b>
    <td><%= child.S_name %></td>
    <td><%= child.DOB %></td>
    <td><%= child.F_name %></td>
    <td><%= child.M_name %></td>
    <td><%= child.clas %></td>
    <td><%= child.address %></td>
    <td><%= child.A_salary %></td>
    <td><%= child.PAN_no %></td>
    <td><%= child.marks %></td>
    <td><%= link_to image_tag("Show.png" ,:width=>22), child %></td>
    <td><%= link_to image_tag("update.png",:width=>23), edit_child_path(child) %></td>
   <td><%= link_to image_tag("Delete-icon.png",:width=>20), :action=>'delete',:id=>child.id %></td>
   
    </b>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @child %>

<h2><%= link_to 'New Registration', new_child_path %></h2>
 </center>